
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1> Bienvenido a Fresmar </h1>
		<p> Al acceder tendras acceso a la Intranet de la empresa y todas sus funcionalidades segun tu usuario creado.</p>
		</div>
	</div>
		<div class="right">
		<h5>Login</h5>
		<p style="margin-top: 100px;"> No tienes una cuenta?  <a href="#">Crear Cuenta</a>   Esto solamente tomará un minuto .</p>
		<div class="inputs">
			<input type="text" placeholder="Usuario">
			<br>
			<input type="password" placeholder="Constraseña">
		</div>
			<br><br>
		<div class="remember-me--forget-password">
				<!-- Angular -->
	<!-- <label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Recuerdame</span>
	</label> -->
			<p> Olvidaste la contraseña ? <a href="#">Recuperar</a> </p>
		</div>
			<br>
			<button> Entrar </button>
	</div>
	
</div>